.remove-btn{
    padding: 10px;
    border-radius: 10px;
    font-family: "Poppins";
    color: rgb(255, 135, 135);;
    background-color: white;
    border: none;
    margin-bottom: 80px;
    font-weight: bold;
    position: relative;
    bottom: 80px;
    font-size: 10px;
}

.remove-btn:hover{
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    color: red;
    cursor: pointer;
}

